<h1>Ejercicio 8</h1>
<hr>
<div class="contenedor">
  
  <div class="contenido">
    <div class="numero">
      {{num}}
    </div>
  
    <div class="botones">
      <button type="button" class="btn mas" (click)="noMayor()">+</button>
      <button type="button" class="btn menos" (click)="noMenor()">-</button>
    </div>
  </div>

  <div class="mensaje">
    <span *ngIf="mensaje==true">No puedes pasar del límite</span>
    
  </div>

</div>